@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.taskpane-container {
  max-width: 450px;
  padding: 16px;
  margin: 0 auto;
}
